<!--<nb-layout windowMode>-->

<!--  <nb-layout-header fixed>-->

<!--&lt;!&ndash;    <ngx-header></ngx-header>&ndash;&gt;-->
<!--  </nb-layout-header>-->

<!--  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>-->
<!--    <ng-content select="nb-menu"></ng-content>-->
<!--  </nb-sidebar>-->

<!--  <nb-layout-column>-->
<!--    <ng-content select="router-outlet"></ng-content>-->
<!--  </nb-layout-column>-->

<!--  <nb-layout-footer fixed>-->
<!--&lt;!&ndash;    <ngx-footer></ngx-footer>&ndash;&gt;-->
<!--  </nb-layout-footer>-->
<!--</nb-layout>-->
